<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="logback-appenders.xml"/>

    <springProfile name="!local">
        <springProfile name="dev">
            <logger name="com.kt.onrace" level="INFO"/>
            <root level="WARN">
                <appender-ref ref="ASYNC_JSON_CONSOLE"/>
                <appender-ref ref="ASYNC_JSON_FILE"/>
            </root>
        </springProfile>
        <springProfile name="prod">
            <!-- AOP 요청 추적 로그는 prod에서 제외 (Prometheus 메트릭으로 대체) -->
            <logger name="com.kt.onrace.common.logging.aspect" level="WARN"/>
            <logger name="com.kt.onrace" level="INFO"/>
            <root level="WARN">
                <appender-ref ref="ASYNC_JSON_CONSOLE"/>
                <appender-ref ref="ASYNC_JSON_FILE"/>
            </root>
        </springProfile>
    </springProfile>

    <springProfile name="local">
        <logger name="com.kt.onrace" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>